---
permalink: "feed.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.name }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/{{ permalink | url }}" rel="self"/>
  <link href="{{ site.url }}"/>
  <updated>{{ feeds | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}</id>
  <author>
    <name>{{ site.author.name }}</name>
    <email>{{ site.author.email }}</email>
  </author>
  {% for item in feeds %}
    {% set absolutePostUrl %}{{ item.url | url | absoluteUrl(site.url) }}{% endset %}
    <entry>
      <title>{{ item.title }}</title>
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ item.date | dateToRfc3339 }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content type="html">{{ item.body | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
    </entry>
  {% endfor %}
</feed>
